.sidebar {
    margin-left: 0;
    width: 200px;
    position: fixed;
    height: 100vh;
    border: 1px solid black;
    background: #2f353a;
    color: #fff;
    display:flex;
    flex-direction:column;
    margin-top:-17px;
}

.main {
    margin-left: 200px;
}

.app-body{
    z-index:100;
}

.custom {
    
    width: 206px;
}

table.table-bordered > thead > tr > th {
     border: 2px solid black;
    
}